@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Super Widget
    </h1>
    <img src="~/Content/Images/SuperWidget.png" id="jumboImg" height="200px"/>
    <p>Want to up your widget game? Try our new Super Widgets today!</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Shop Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Widgets for all</h2>
        <p>
            What do you use a widget for? We don't know, but we have the coolest ones.
        </p>
        <p><a class="btn btn-default" href="~/Home/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Widgets are cool</h2>
        <p>Who thinks widgets are cool? </p>
        <p><a class="btn btn-default" href="~/Home/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Widgets might cure cancer</h2>
        <p>We've never tried and that means we've never failed.</p>
        <p><a class="btn btn-default" href="~/Home/Index">Learn more &raquo;</a></p>
    </div>
</div>